---
layout: default
title: Homepage
---
<div class="indexheader">
 {% include header5.svg %}
 </div>

<div class="squaremenu">

  <div class="intro">
    <div class="menu-item message-board">
      <p>i'm Antónimo,<br/> i do web, design and art</p>
    </div>
  </div>

  <div class="islandinfo">
   {% include island.svg  %}
   </div>


</div>


<!-- <div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> -->
