---
layout: websites
title: Websites
---
<div class="indexheader">
   {% include header-island-web.svg %}
</div>

<div class="webcontainer">


  <div class="menuwebsites">
    {% unless page.layout == 'front' %}
        <ul id="sneakytest" class="navigation">
          {% for link in site.navigationweb %}
            {% assign current = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
            {% endif %}

            <li id="next" class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
              <a class="webmenulink {{ current }}" href="{{ link.url }}">{{ link.text }} </a>
            </li>


          {% endfor %}
        </ul>
    {% endunless %}
  </div>

  <div class="webintro">
      <h3> There is more to be said on building a website when i think i am building a home.</h3>
  </div>


</div>
