<div class="contacts">
  <div class="contactlogo">
    {% include connect.svg %}
  </div>
  <div class="contactswrite">
    <h3>Make a connection:</h3>
    <h1>antonimoferraz@gmail.com</h1>
    <div class="social">
      <div class="socialicon"> {% include social-facebook.svg %}</div>
      <div class="socialicon">{% include social-tumbrl.svg %}</div>
      <div class="socialicon">{% include social-github.svg %}</div>
      <div class="socialicon">{% include social-codepen.svg %}</div>
    </div>
  </div>
