<div class="contacts">
  <div class="contactlogo">
    {% include connect.svg %}
  </div>
  <div class="contactswrite">
    <h3>Make a connection:</h3>
    <h1>antonimoferraz@gmail.com</h1>
    <div class="social">
      <div class="socialicon"><a href="http://facebook.com/antonimoferraz" target="_blank">{% include social-facebook.svg %}</a></div>
      <div class="socialicon"><a href="http://tumbrl.com/antonimoferraz" target="_blank">{% include social-tumbrl.svg %}</a></div>
      <div class="socialicon"><a href="https://github.com/antonimoferraz" target="_blank">{% include social-github.svg %}</a></div>
      <div class="socialicon"><a href="http://codepen.io/antonimoferraz/" target="_blank">{% include social-codepen.svg %}</a></div>
    </div>
  </div>
