<!-- nav fixed -->

<div class="mobile-nav">

      <div class="nav-item menu-tri">
          <a href="websites.html">
          {% include triangle.svg %}
          </a>
          <div class="info"><p>Websites</p></div>
      </div>

      <div class="nav-item menu-cir">
          <a href="graphics.html">
            {% include circle.svg %}
          </a>
          <div class="info"><p>Graphics</p></div>
      </div>

</div>



<div class="wrap-header">
  <header class="wrap-position">

<div class="copy-right-container"><p class="copy-right">antonimo ferraz</p></div>


      <nav class="site-nav">

        <div>
          <a href="index.html">
            <div class="nav-item menu-tri"> {% include square.svg %}</div>
          </a>
        </div>

          <div class="nav-item menu-tri">
              <a href="websites.html">
              {% include triangle.svg %}
              </a>

          </div>

          <div class="nav-item menu-cir">
              <a href="graphics.html">
                {% include circle.svg %}
              </a>

          </div>

      </nav>

      <p class="copy-right">© 2016</p>

      <div class="mobile-nav-toggle"><span></span></div>

  </header>
</div>
