$bgdark: #232323;
$bgmed: #2B2928;
$bglight: #3A3735;

$orange: #DD4E10;

$greendark: #1DAA8B;
$greenlight: #43CE8B;


$redlight: #af624f;
$red: #9b3b23;
$reddark: #742c1a;

$yellowlight: #edb53d;
$yellow: #e9a30c;
$yellowdark: #af7a09;

$white: #f5f5f5;
$link-text-color:  lighten($bglight, 50%);

$font: "Exo";


html{
  background-color: $bgdark;
  font-family: "Exo";
  color: $white;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}

a{
  color: $link-text-color;
  text-decoration: none;
  width:inherit;
  height:inherit;;
}
svg{
  width: 100%;
  font-family: $font;
  text{
    font-family: $font!important;
  }
}
img{
  max-width:100%;
}

//////////////////////////////////////////
//SCROLL
//////////////////////////////////////////
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: $bgmed;
    border-left: 1px solid $bgmed;
}
::-webkit-scrollbar-thumb {
    background-color:$bglight;
}
::-webkit-scrollbar-thumb:hover {
    background-color: $red;
    border-left: 1px solid $bgmed;
}

//
// DEFAULT.HTML
//

.thecontent{
  height:100%;
  max-width:100%;
  display: flex;
  flex-direction: column;
}


//
// INDEX HEADER
//

.indexheader{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 1rem;
}

//////////////////////////////////////////
//INDEX CONTENT
//////////////////////////////////////////


.indexcontent1{
  width: 100%;
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
}


//
// INTRO
//

.intro{
  margin: 5rem auto;
  align-self: center;
}


.message-board{
  align-self: center;
  margin: 0 auto;
  border: 10px solid  $greendark;
  width: 221px;
  // height: 221px;
  width: 13vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: $white;
  //font-size: 23px;
  padding: 1rem;
}

.footerill{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footerill > svg > * > * > *,.footerill > svg > *{
  box-shadow: -6px -6px 22px pink;
}

.message-board:after{
  content: "";
  display: block;
  padding: 50% 0;

}
//
// ISLAND
//

.islandinfo{
  align-self: center;
  margin: 4rem auto;
}

.islandinfo svg{
width: 235px;
}

//
// ABILITIES
//

.abilities-container{
      align-self: center;
  margin-top: -5rem;
  width:235px;
  margin: 0 auto;
  text-align: center;
}

.abilities-container p{
  text-align: center;
}

.abilities{
	list-style:none;

	li{
		margin-bottom: 0.5em;
		padding: 0.5em 1em;
		color: #fff;
    transition: all .2s;
    text-align: left;

	}
  li:hover{
    margin-bottom: 0.5em;
    padding: 0.6em 1em;
    color: #fff;
    box-shadow: 0px 0px 10px 10px $bgdark;
    transition: all .2s;
  }
}


[class^="ability-"] {
	position:relative;

	&:before,
	&:after{
		position: absolute;
		content: "";
	}
	&:before{
		content:"dd";
		top: 0.5em;
		margin-left: -2em;
		text-align: right;
		color: $white;
	}
	&:after{
		top:0;
		left: 0;
		height: 100%;
		width:0;
		z-index: -1;
        &:after:hover{
          box-shadow: 0px 0px 16px $bgdark;
          width: 0;
        }
	}



}

$abilities: (
	'photoshop': 70,
	'illustrator': 92,
	'ui': 90,
	'html': 95,
	'css' : 94,
  'javascript' : 58,
  'jQuery' : 70,
	'jekyll': 88,
	'git': 60,
  'WordPress' : 70,
  'SVG': 95,
  'PHP': 60,

);


@each $ability, $score in $abilities {
  [class^="ability-"]:after{
    background: linear-gradient(to right,
      $yellow 0% , $red 100% );
  }
	@keyframes show-ability-#{$ability}{
		from {
      width: 0;
    }
		to {
      width: $score * 1%;
    }
	}
	.ability-#{$ability}{
		&:before {
			content: "#{$score}";
			left: $score * 1%;
		}
		&:after {
			animation: show-ability-#{$ability} ease-in-out 1s 2s 1;
			animation-fill-mode: forwards;
		}
	}
}

//
// COUNT ME IN
//

.countmecontainer{
  margin: 6rem;
}
.counttitle{
  text-align: center;
}
#ro{

    transform-origin: 50% 50%;

}

@media only screen and (max-width : 880px) {
  .countmecontainer{
    margin: 1rem;
  }
  .message-board p{
    //font-size: 4vw;
  }
  .abilities-container{
    //padding: 4rem;
    margin-top: -4rem;
  }

}
