//
//  CONTEM FRASE E WEB MENU
//
.webcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: -16rem;
}

//
// FRASE
//
.webintro{
   color: $greendark;
  width:66%;
  padding: 1rem;
  margin: 1rem;
}

//
//  MENU WEBSITES
//

.menuwebsites{
  width: 33%;
  background-color: $bgmed;
  margin: 1rem;
  padding:0rem;
}
.navigation{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items:center;
  align-content: center;
   padding:1rem;

}
.navigation li{
  display: flex;
    width: 100%;
    padding:0rem 0rem;;
    margin:0rem 2rem;
    transition: all .1s;


}
.navigation li:hover{
    display: flex;
    width: 105%;
    transition: all .1s;
}

.webmenulink{
  width: 100%;
  margin:0rem 0rem;
  padding: 1rem 1rem;
  background-color: $reddark;
  text-align: center;
}

.navigation li a{
  //border: 1px solid $bgdark;
  color: $bgmed;
  font-size: 1rem;
  transition: all .3s;

}
.navigation li a:hover{
  color: darken($white,10%);
  font-size: 1.1rem;
  transition: all .2s;
  padding: 1.1rem;
  box-shadow: 0px 0px 15px  $bgdark;
  z-index: 3;
  border: auto -3rem;
}


.navigation li a:active{
  margin: .1rem;
  transition: all .1s;
  box-shadow: 1px 0px 10px $bgdark;
}


.navigation li a.current{
    background-color: $red;
    color: $white;
    box-shadow: 1px 0px 10px $bgdark;
    z-index: 4;
}

.navigation li.current{
  width: 105%;
}

.navigation li a.current:hover{
    background-color: $red;
    color: $white;
    z-index: 4;
}

.website-picture{
   width:66%;
   background-color: $bgmed;
   padding: 1rem;
   margin: 1rem;
}

.gotherebotton {
  display: block;
  margin: 1rem auto;
  text-align: center;
  background-color: $reddark;
  color: $white;
  //border: 1px solid $bgdark;
  color: $bglight;
  width: 33%;
  //margin: 1rem 0;
  padding:1rem;
  text-align: center;
  transition: all .1s;

}

.gotherebotton:hover{
  color: darken($white,10%);
  width: 37%;
  // padding-left: 2.5%;
  // padding-right: 2.5%;
  transition: all .1s;
  box-shadow: 0px 10px 10px $bgdark;
}

.gotherebotton:active{
  color: darken($white,10%);
  background-color: $red;
  // padding: .8rem;
  // margin-left: .2rem;
  transition: all .1s;
  box-shadow: 0px 20px 10px $bgdark;
}


///
///CONTENT post
//
.webcontainer2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
 .post{
   //color: $greendark;
  width:66%;
  padding: 1rem;
  margin: 1rem;
  background-color: $bgmed;
}


.languages{
  width: 33%;
  background-color: $bgmed;
  margin: 1rem;
  padding:0rem;
}
.languages h1{
  padding-left: 1rem;
}



.content-sec{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}



// WEBSITES LIST MENU



.techlist{
  list-style: none;
  margin:1rem;
  padding: 0;
}



.website-feature{
  width:100%;
}

//
//
//
//
//
//
.abilities-container{
  padding: 10rem;
  margin-top: -5rem;
}
.abilities-container p{
  text-align: center;
}

.abilities{
	list-style:none;
	margin: 1.5em 0;

	li{
		margin-bottom: 0.5em;
		padding: 0.5em 1em;
		color: #fff;
    transition: all .2s;

	}
  li:hover{
    margin-bottom: 0.5em;
    padding: 0.6em 1em;
    color: #fff;
    box-shadow: 0px 0px 10px 10px $bgdark;
    transition: all .2s;
  }
}

[class^="ability-"] {
	position:relative;

	&:before,
	&:after{
		position: absolute;
		content: "";


	}
	&:before{
		content:"dd";
		top: 0.5em;
		margin-left: -2em;
		text-align: right;
		color: $white;
	}
	&:after{
		top:0;
		left: 0;
		height: 100%;
		width:0;
		// background: $red;
    //background: linear-gradient(to right,
    //  $yellow 20%, $red 80%);
		z-index: -1;
        &:after:hover{
          box-shadow: 0px 0px 16px $bgdark;
          width: 0;
        }
	}



}

$abilities: (
	'photoshop': 95,
	'illustrator': 80,
	'ui': 90,
	'html': 95,
	'css' : 94,
	'jekyll': 100,
	'git': 15
);


@each $ability, $score in $abilities {
  [class^="ability-"]:after{
    background: linear-gradient(to right,
      $yellow 0% , $red 100% );
  }
	@keyframes show-ability-#{$ability}{
		from {
      width: 0;
    }
		to {
      width: $score * 1%;
    }
	}
	.ability-#{$ability}{
		&:before {
			content: "#{$score}";
			left: $score * 1%;
		}
		&:after {
			animation: show-ability-#{$ability} ease-in-out 1s 2s 1;
			animation-fill-mode: forwards;
		}
	}
}
