//
//  CONTEM FRASE E WEB MENU
//
.webcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: -16rem;
}

//
// FRASE
//
.webintro{
   color: $greendark;
  width:66%;
  padding: 1rem;
  margin: 1rem;
}

//
//  MENU WEBSITES
//

.menuwebsites{
  //width: 33%;
  width:235px;
  background-color: $bgmed;
  margin: 1rem;
  padding:0rem;
}
.navigation{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items:center;
  align-content: center;
   padding:1rem;

}
.navigation li{
  display: flex;
    width: 100%;
    padding:0rem 0rem;;
    margin:0rem 2rem;
    transition: all .1s;


}
.navigation li:hover{
    display: flex;
    //width: 105%;
    transition: all .1s;
    //box-shadow: 5px 0px 0px 0px $red, -5px 0px 0px 0px $reddark;

}

.webmenulink{
  width: 100%;
  margin:0rem 0rem;
  padding: 1rem 1rem;
  background-color: $reddark;
  text-align: center;
}

.navigation li a{
  color: lighten($bglight, 50%);
  font-size: 1rem;
  transition: all .3s;

}
.navigation li a:hover{
  color: darken($white,10%);
  box-shadow:  5px 0px 0px 0px $reddark, -5px 0px 0px 0px $reddark, 0px 0px 15px  $bgdark;
  z-index: 3;
  border: auto -3rem;
  transition: all .2s;
}


.navigation li a:active{
  background-color: $red;
  box-shadow:  0px 0px 0px 0px $reddark, 0px 0px 0px 0px $reddark, 0px 0px 0px  $bgdark;
  transition: all .1s;
  box-shadow: inset 0px 0px 15px 1px darken($reddark, 5%);
  transition: all .1s;
}


.navigation li a.current{
    background-color: $red;
    color: $white;
    z-index: 4;
}

.navigation li.current{
  box-shadow:  5px 0px 0px 0px $red, -5px 0px 0px 0px $red, 0px 0px 15px  $bgdark;
}

.navigation li a.current:hover{
  box-shadow:  5px 0px 0px 0px $red, -5px 0px 0px 0px $red, 0px 0px 15px  $bgdark;
    background-color: $red;
    color: $white;
    z-index: 4;
}

.website-picture{
   width:66%;
   background-color: $bgmed;
   padding: 1rem;
   margin: 1rem;
}

.gotherebotton {
  display: block;
  margin: 1rem auto;
float: right;
  text-align: center;
  background-color: $reddark;
  color: lighten($bglight, 50%);;
  width: calc(235px - 1rem);
  //margin: 1rem 0;
  padding:1rem;
  text-align: center;
  transition: all .1s;
  width:170px;

}

.gotherebotton:hover{
  color: darken($white,10%);
  //width: 235px;
  // padding-left: 2.5%;
  // padding-right: 2.5%;
  transition: all .1s;
  box-shadow: 0px 10px 10px $bgdark;
}

.gotherebotton:active{
  color: darken($white,10%);
  background-color: $red;
  // padding: .8rem;
  // margin-left: .2rem;
  transition: all .1s;
  box-shadow: 0px 20px 10px $bgdark;
}


///
///CONTENT post
//
.webcontainer2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
 .post{
   //color: $greendark;
  width:66%;
  padding: 1rem;
  margin: 1rem;
  background-color: $bgmed;
}


.languages{
  width: 235px;
  background-color: $bgmed;
  margin: 1rem;
  padding:0rem;
}
.languages h1{
  padding-left: 1rem;
}



.content-sec{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}



// WEBSITES LIST MENU



.techlist{
  list-style: none;
  margin:1rem;
  padding: 0;
}



.website-feature{
  width:100%;
}
@media only screen and (max-width : 565px) {
  .webcontainer{
    flex-direction: column;
    align-items: center;
    //width: 100%;
    padding: 1rem;
    //margin:1rem;
  }
  .webcontainer2{
    //width:100%;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    //margin: 1rem;


  }
.post,
.languages,
.website-picture,
.menuwebsites {
  width: 70%;
  margin:1rem;
  padding:1rem;
}
.gotherebotton{
  float: none;
}

}

@media only screen and (max-width : 999px) {
  .webcontainer{
    margin-top: -7rem;
  }

}
