// NAV

.wrap-header{
	width:235px;
  height:100%;
	padding: 30px 0;
	z-index: 4;
	float:left;
  position: relative;
	background-color:$bgdark;
}

.wrap-position{
	background-color:darken( $bgdark, 1% );
	height:100%;
  width:235px;
  max-width: 100%;
	position: fixed;
	top:0;
	left:0;
	bottom: 0;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
		box-shadow: 0px 0px 10px darken( $bgdark, 3% );
}

// NAV ITEMS

.navlogo{
  width:100px;
  height:100px;
	top:0;
	left:0;
	margin:5rem auto;
	padding: 0;
	color: $red;
	text-align: center;
	//margin-top: -2.9rem;
	// background: url(../img/AZlogo.svg);
	// background-size: contain;
	// background-repeat: no-repeat;
}
.copy-right-container{
	margin-bottom: -5rem;
}
.copy-right{
	color: $bglight;
}








.site-nav{
  margin-top: 3rem;
  color: $greendark;
}
.info{
	margin-top: -1.1rem;
}
.site-nav .menu-items{
 margin:0;
 padding:0;
}
.nav-item{
  margin:1rem auto;
  text-align: center;
  width:60%;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 0rem;

}
.nav-item a svg * {
	box-shadow: 6px 6px 6px 6px darken($bgdark, 6%);
}
.wrap-position{
  text-align: center;
}
.wrap-position a{
  margin-top: 6rem;
}

.mobile-nav,.mobile-nav.is-open{
	display:none;
}



@media only screen and (max-width : 767px) {
  .wrapall{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    overflow:visible;
    width:100%;
  }
    .wrap-header{
      width:100vw;
      display: block;
    	padding: 0;
    	z-index: 4;
    	float:none;

    		height:auto;
    		min-height:auto;
        border-bottom: 4px solid $red;


    }
    .wrap-position{
	    display: flex;
	    flex-direction: row;
	    width: 100%;
	    z-index:2;
	  	position: relative;
			top:auto;
			bottom: auto;
			left:auto;
			flex-direction: row;
			align-items: center;
    }
    .navlogo{
    	top:0;
    	left:0;
    	margin:15px 20px;
    	padding: 0;
    	color: $red;
    	text-align: center;
    	font-size:2rem;
      font-weight: 500;
    	margin-top: -2rem;
    	max-width:100%;
    }
    .email-link,.site-nav{
    	display:none;
    }

    .mobile-nav-toggle{
    	margin:1rem;
  	  margin-right:3rem;
    	width:50px;
    	height:35px;
  		max-width:auto;
  		background: url(/img/menu2.svg);
    	background-size: contain;
    	background-repeat: no-repeat;
    	cursor: pointer;
    }
    .navlogo{
			margin:1rem;
			margin-left:3rem;
			padding:0;
			background: url(/img/AZlogo.svg);
			background-size: contain;
			background-repeat: no-repeat;
			max-width:auto;
			width:50px;
			height:35px;
    }

    .mobile-nav{
  		position:absolute;
  		z-index:1;
  		width:100%;
  		background: white;
  		padding: 30px 0 20px;
  		transform: translateY(-100%);
  		transition: all 2s ease-in-out;

	  		ul{
	  			list-style: none;
	  			margin-top:40px;

	  			li{
	  				text-align: center;
	  				margin:1rem;
	  			}
	  		}

    }
    .mobile-nav.is-open{
      display:block;
    	transform: translateY(0%);
    	transition: all 2s ease-in-out;
    }








}
