//ISLAND

@keyframes yellowcircle {

  0% {
    fill: $yellow;
    transform-origin: 50% 50%;
  }
  50% {
    fill: lighten($yellow, 20%);
    transform-origin: 50% 50%;
  }
  100% {
    fill: $yellow;
    transform-origin: 50% 50%;

  }
}

#lone-circle_2_{
  animation: yellowcircle 3s infinite!important;
}

@keyframes bluetri {

  0% {
    fill: $greendark;
    transform-origin: 50% 50%;
  }
  50% {
    fill: lighten($greendark, 20%);
    transform-origin: 50% 50%;
  }
  100% {
    fill: $greendark;
    transform-origin: 50% 50%;
  }
}

#triangulo2{
  animation: bluetri 3s infinite!important;
}



@keyframes redsquare {

  0% {
    fill: $red;
    transform-origin: 50% 50%;
  }
  50% {
    fill: lighten($red, 20%);
    -webkit-svg-shadow:  -10px -10px 5px darken( $bgdark, 3%);
    -webkit-svg-shadow: 0 0 7px #53BE12;
    -webkit-filter: drop-shadow( -20px -20px 5px darken( $bgdark, 3%));
    filter: drop-shadow( -0px -0px 5px darken( $bgdark, 3%));
    transform-origin: 50% 50%;
        //transform: translateY(4%) scale(1.02, 1.02);


  }
  100% {
    fill: $red;
    transform-origin: 50% 50%;

  }
}

#quadrado{
  animation: redsquare 3s infinite!important;
}
